@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@mixin mobile-media {
    @media (max-width: 768px) {
      @content;
    }
  }

.main-content {
    width: 50%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.upload-image-text {
    font-size: 32px;
    font-family: "Satisfy", cursive;
}

.title {
    background: linear-gradient( to right , #fdfad6 , #fad064);
    padding: 20px;
    margin:0;
    text-align: center;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}


.parent {
    display: grid;
    grid-template-columns: 69% 29%;
    gap: 2%;

    @include mobile-media(){
        grid-template-columns: 100%;
    }
}

.no-image {
    text-align: center;
}

.input-styles{
    font-weight: bold;
    color: black;
    background-color: #fad064;
    padding: 16px;
    border: none;
    border-radius: 5px;
    font-family: "Satisfy", cursive;
}

.image-container {
    background-color: #fdfad6;
    border-radius: 20px;


    img{
        height: 100%; 
        width: 100%;
        object-fit: contain;
    }
}

.adjust-settings {
    background-color: #fad064;
    border-radius: 20px;
    padding: 32px;
}
        