.main-content {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}

.image-container{
    border: 1px solid black;
  

    img{
        height:300px;
        width: 500px;
        object-fit: contain;
    }
}


.adjust-settings{
    padding: 10px;
}